spring:
  main:
    banner-mode: off
  datasource:
    url: jdbc:h2:file:./db/springdb
    driver-class-name: org.h2.Driver
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    show-sql: true
server:
  port: 8080
  error:
    include-message: always
logging:
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    root: INFO
    org.springframework.web: ERROR
    com.howtodoinjava: DEBUG
    org.hibernate: ERROR
  file:
    name: logs/roommgmt-exercise.log
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    beans:
      enabled: false